<h1>Add a new recipe</h1>

<form action="/recipes" method="POST">
    <input type="text" name="recipe[title]" placeholder="Title">
    <input type="text" name="recipe[image]" placeholder="Image Url">
    <textarea type="text" name="recipe[content]" placeholder="Content of Recipe"></textarea>
    <button>Submit</button>
</form>